body{

	font-size: 16px;
	color:#fff;
    background-color:#61122f;
    font-family: 'Oxygen', sans-serif;
}
*{
	box-sizing: border-box;
}
#header-nav{

	background-color:#f6b319;
	border-radius: 0;
	border:0;
}
.navbar-brand{

	font-size: 25px;
	
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border:1px solid #61122f;
}

li{
text-align: center;	
}
.libg1{
	background-color: #CC99FF;
}
.libg2{
	background-color: papayawhip;
}
.libg3{
	background-color: #FF9966;
}
#main-content{
	text-align: center;
	font-size: 20px;
	color:yellow;
}

.jumbotron{

height: 1000px;
width: 100%		
padding:0px;
text-align: justify;
color: black;
}

.imgbg1{
	background-color:#33FF99 ;
}

.imgbg2{
	background-color: #33FFFF;
}

.imgbg3{
	background-color:#FFFF66 ;
}